.es-logo{
  height:15rem;
}

.speakers-general{
  display: grid;
  grid-template-columns: auto;

}

.speakers-general .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    margin: 5% 10%;

    background: white;
}

.highlights-anchor{
  text-decoration: none;
  color: #555555;
}

.highlights-anchor .icon{
  color: #147088;
}
/* Single Speaker */
.speakers-single{
  display: grid;
  grid-template-columns: auto;
}

.speakers-single .card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    margin: 0% 30%;
    background: white;
}

/* general card CSS*/
.card .container{
  padding: 1rem;
}
.card h3{
  font-size: 1.75rem;
  margin-bottom: 0px;
}

 
#contactSection .section-content {
  text-align: center;

  /*margin-top:-2em;*/
  padding:10vh;
}

.contact-card{
  text-align: left;
  display: inline-block;
  margin: 30px auto;
  width: 100%;
  max-width: 600px;
}

.contact-card p{
  margin-bottom: 0rem;
}

.contact-img{
  width: 200px;
  height: auto;
  vertical-align: middle;
  margin: 0px 20px;
  border-style: solid;
  border-width: 0px;
  border-radius: 50%;
}

.contact-dets{
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
  font-size: 1.25rem;
}

.contact-mail, .contact-tel{
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

.contact-mail:hover, .contact-tel:hover{
  color: #007bff;
  text-decoration: none;
}
@media only screen and (max-width:650px) {
  .es-logo{
    height: 10rem;
  }
  .speakers-general{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1em;
  }
  .speakers-general .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 75vw;
}
.speakers-single .card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    margin:0% 10%;
    margin-bottom: 5rem;
    background: white;
}
.btn-ghost {
  width: 290px;/* width: 29.0rem;*/
  height: 35px;/* height: 5.0rem;*/
  font-size: 16px; /*font-size: 1.6rem;*/
  line-height: 40px;/* line-height: 5.0rem;*/
}
}


/* buttons */

.btn-align { position: relative; top: 45%; }
.btn-ghost {
  display: block;
  width: 340px; /*width: 34rem;*/
  height: 66px; /*height: 6.6rem;*/
  font: 700 20px/66px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font: 2.0rem/6.6rem;
  letter-spacing: 0.01rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .16s ease;
  margin: 0 auto;
  
}
.btn-blue  { color:#2eb58e; border: 2px solid #2eb58e; }
.btn-blue:hover, .btn-blue:active, .btn-blue:focus  {
  color: #fff;
  background-color: #2eb58e;
  border: 2px solid #2eb58e;
}

@media screen and (max-width: 470px) { /* iPhone Landscape */
  .btn-ghost {
    width: 260px;/* width: 29.0rem;*/
    height: 50px;/* height: 5.0rem;*/
    font-size: 17px; /*font-size: 1.6rem;*/
    line-height: 50px; /*line-height: 5.0rem;*/
  }
}